# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# Environment variables
.env

# FAISS index files
*.faiss
index.faiss
meta.pkl

# Streamlit cache
.streamlit/

# OS files
.DS_Store
Thumbs.db
